<!DOCTYPE html>
<html>
	<head>
		<%- include('../components/header'); %>
	</head>
	<body>
        <div class="user-form"></div>
        <script type="text/babel" src="../js/login.jsx"></script>
	</body>
</html>
